@font-face {
    font-family: 'FontNotoRegular';  
    src: url('../fonts/NotoSans-Regular.ttf')  format('truetype'),
}
@font-face {
    font-family: 'FontNotoBold';  
    src: url('../fonts/NotoSans-Bold.ttf')  format('truetype'),
}
@font-face {
    font-family: 'FontNotoBoldItalic';  
    src: url('../fonts/NotoSans-BoldItalic.ttf')  format('truetype'),
}
@font-face {
    font-family: 'FontNotoItalic';  
    src: url('../fonts/NotoSans-Italic.ttf')  format('truetype'),
}