footer{
    background-color: #f7f7f7;
    padding-bottom: 50px;
    padding-bottom: 50px;
    h6{
        font-size: 0.8em;
    margin-bottom: 15px;
    }
    img{
        max-width: 120px;
    }
    p{
        font-size: 0.8em;
    }
    .badge-yellow{
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: #FFEB3B;
        border-radius: 51%;
        -webkit-border-radius: 51%;
        -moz-border-radius: 51%;
        -ms-border-radius: 51%;
        -o-border-radius: 51%;
    }
    .badge-purple{
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: purple;
        border-radius: 51%;
        -webkit-border-radius: 51%;
        -moz-border-radius: 51%;
        -ms-border-radius: 51%;
        -o-border-radius: 51%;
    }
    .badge-red{
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: red;
        border-radius: 51%;
        -webkit-border-radius: 51%;
        -moz-border-radius: 51%;
        -ms-border-radius: 51%;
        -o-border-radius: 51%;
    }
    .badge-green{
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: green;
        border-radius: 51%;
        -webkit-border-radius: 51%;
        -moz-border-radius: 51%;
        -ms-border-radius: 51%;
        -o-border-radius: 51%;
}
    ul{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            span{
                color: #4db848;
                font-size: 1.3em;
                margin-right: 5px;
            }
            font-size: 0.8em;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
    }
}