html,body{
    height: 100%;
}

body{
    font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
    background-color: white;
}
*{
    box-sizing: border-box;
}
.relative{
    position: relative;
}
.p-0{
    padding: 0!important;
}
.pb-0{
    padding-bottom: 0!important;
}
.pl-0{
    padding-left: 0!important;
}
.pt-0{
    padding-top: 0!important;
}
.p-20{
    padding: 20px;
}

#btn--rappels{
    display: inline-block;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
}
.answer--button{
    color: white;
  
    display: inline-block;
    padding: 1px;
    border-bottom: solid 1px white;
}
.vert--clair{
    background-color:#8deb6e!important;
}
// .slick-arrow{
//     display: inline-block;
//     position: absolute;
//     top: 0;
// }
a{
    text-decoration: none;
}
img{
    // width: 100%;
    // height: auto;
}
.padding--0{
    padding: 0;
}
.collapsing {   
    height: 100%;
    overflow: hidden;
    transition: all 2s;
  }
.overflow--hidden{
    overflow: hidden;
}

.shadow--menu{   
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.d-flex{
    display: flex;
}
ul{
    display: inline;
        list-style: none;
 
}


.setButtons--rappels{
    display: flex;
    flex-direction: column;
    align-items: center;


    .go--button{
        color: #50ae31;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 5px;
        background-color: white;
    
    
    }
    
    .cancel--button{
        display: block;
        text-align: center;
        font-size: 14px;
        color: white;
        margin: auto;
        /* width: 4vw; */
        margin-top: 8px;
    }
}