html,body{
    height: 100%;
}

body{
    font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
    background-color: white;
}
.img-responsive{
    width: 100%;
    max-width: auto;
    height: auto;
}
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.title-orange{
    color: #ff5e00;
}
.title-purple{
    color: #6d4d9d;
}
.link--website{
     /* text-decoration: underline; */
     color: #3d3d3d;
     padding-bottom: 5px;
     border-bottom: solid 1px;
     padding: 0;
}
button {
    background-color: #50ae31;
    padding: 12px;
    box-shadow: none;
    border: none;
    color: white;
    margin-bottom: 15px;
}
h2{
    // color: rgb(61, 61, 61);
    color: #3d3d3d;
    font-weight: 400;
    font-size: 1.7em;
    text-align: left;
 }
.title-blue{
    color: #15a6a9;
}
.title-rouge{
    color: #da3669;
}

.border-orange{
    border-bottom: 5px solid #ff5e00;
}
.border-purple{
    border-bottom: 5px solid #6d4d9d;
}
.border-blue{
    border-bottom: 5px solid #15a6a9;
}
.border-rouge{
    border-bottom: 5px solid #da3669;
}
.relative{
    position: relative;
}
.p-0{
    padding: 0!important;
}
.pb-0{
    padding-bottom: 0!important;
}
.pl-0{
    padding-left: 0!important;
}
.pt-0{
    padding-top: 0!important;
}
.p-20{
    padding: 20px;
}

#btn--rappels{
    display: inline-block;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
}
.answer--button{
    color: white;
  
    display: inline-block;
    padding: 1px;
    border-bottom: solid 1px white;
}
.vert--clair{
    background-color:#8deb6e!important;
}

a{
    text-decoration: none;
}
.t-right{
    text-align: right;
}
.padding--0{
    padding: 0;
}
.collapsing {   
    height: 100%;
    overflow: hidden;
    transition: all 2s;
  }
.overflow--hidden{
    overflow: hidden;
}

.shadow--menu{   
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.d-flex{
    display: flex;
}
ul{
    display: inline;
        list-style: none;
 
}


.setButtons--rappels{
    display: flex;
    flex-direction: column;
    align-items: center;


    .go--button{
        color: #50ae31;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 5px;
        background-color: white;
    
    
    }
    
    .cancel--button{
        display: block;
        text-align: center;
        font-size: 14px;
        color: white;
        margin: auto;
        /* width: 4vw; */
        margin-top: 8px;
    }
}





@media (min-width: 768px) {
    .row--flex{
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
    }  
}
@media (min-width: 365px) {
    .row--flex{
        display: block;
        // flex-flow: row nowrap;
        // height: 100%;
    }
}