  
  

.section--mainmenu{
  .container--menu{  
    background-color: #ffff;  
    nav{
      margin: 0;
      .navbar-brand.navbar-image {
        // padding: 0 20px 0 0;
        // display: flex;
        height: 100%;

      }
      .navbar-brand.navbar-image>img {
        margin: auto 0;
        z-index: 1;
        height: auto;
        width: 100%;
      }

      .collapse{
        ul{
          li{
           a{
            font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1em;
            // text-align: center;
            // max-width: 174px;
            color:#32475a;
           }
          }
        }
      }
    }
    

      @media (min-width: 768px) {
        // .navbar.taller .navbar-nav>li>a {
        //     padding-top: 25px;
        //     padding-bottom: 25px;
        // }
      }
  }
}
