$white: white;//
$blueTypoPrincipal:#32475a;
$greenSectionBadgeKarma:#70d84e;

$colorPins:rgb(255, 136, 65);

$purpleTypoBg:#25acae;
$orangeTypoBg:#fac32b;

$orangeTab:#fac32b;


$bgContainerLogin:#faf9f8;

$dateinfosrandonne: #36485c;

$CouleurSectionGris:#f7f7f7;

$colorvalueInput: #a7a7a7;

$couleurpins:#ff8841;


$borderOrange:#fac32b;
$borderPurple:#6d4d9d;
$borderBlue:#15a6a9;
$borderRouge:#da3669;

$badgeColorYellow:#FFEB3B;
$badgeColorPurple:purple;
$badgeColorRed:red;
$badgeColorGreen:green;


$navtabactivecolor:#50af31;


$backgroundDropdown:#ffffff;

$colorOpacityHover: #ffffffa3;

$backgroundBtn : #50ae31;
$backgroundBadgeKarma: #70d84e;

$vertClairSectionJauge:#8deb6e!important;

$sectionBienvenueBackgroundColor:#50ae31;

$h2ColorDefault:#3d3d3d;

$titreBlueColor:#15a6a9;
$titreBlueColor: #da3669;
