.section--infosactivites{
    padding-top: 100px;
    padding-bottom: 100px;
 
    .set-CallToAction--infosactivites{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin: auto;
        align-items: center;
        a{
            /* text-decoration: underline; */
            color: #3d3d3d;
            padding-bottom: 5px;
            border-bottom: solid 1px;
            padding: 0;
        }
        button{
            background-color: #50ae31;
            padding: 12px;
            box-shadow: none;
            border: none;
            color: white;
            margin-bottom: 15px;
        }
    }



    .container{
        display: flex;
         align-items: center;
         h2{
            color: rgb(61, 61, 61);
         }
    ul{
        max-width: 48px;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
        justify-content: space-between;
        padding: 0;
        li{
            font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1.8em;
            cursor:pointer;         
        }
        li:hover{
            color: rgb(61, 61, 61);
        }
    }
    }
   
}