.section--Sectioncitation{
    padding-top: 150px;
    padding-bottom: 150px;

    .row--Sectioncitation{
        // display: flex;
        // align-items: center;
        background-color: #f7f7f7;
        .content--Sectioncitation{
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-content: center;
            padding-top: 0;
            padding-bottom: 0;
            padding: 30px;

            p{
                font-size: 1.2em;
                font-style: italic;
                line-height: 35px;
            }
            p::after{
                content: '"';
                font-size: 1.2em;
                font-style: italic;
                line-height: 35px;
            }
            p::before{
                content: '"';
                font-size: 1.2em;
                font-style: italic;
                line-height: 35px;
            }
            .nom--Sectioncitation{
                font-weight: bold;
            }
         
        }
    }
    
}

@media (min-width: 365px) {
    .row--Sectioncitation{
        display: flex;
        flex-direction: column;
        // align-items: center;
        background-color: #f7f7f7;
        }
}
@media (min-width: 768px) {
    .row--Sectioncitation{
        display: flex;
        align-items: center;
        flex-direction:row;
        background-color: #f7f7f7;
        }
}