.section--demandestechniques{ 
    padding-bottom:150px;
    svg{
        color: $backgroundBtn;
    }
    h3{
        margin: 0;
        font-size: 1.7em;
        font-weight: 100;
        margin-bottom: 27px;
    }
    .row--demandestechniques{
        background-color: $CouleurSectionGris;
        @include flexbox();
        @include align-items(center);       
      
        color:$blueTypoPrincipal;
        h3{
            margin: 0;         
            font-weight: bold;
        }
        p{
            margin: 0;          
        }
    }

    .set-CallToAction{
        @include flexbox();
        @include flex-direction(column);       
        text-align: center;
        margin: auto;
        @include align-items(center);   
        @include align-content(center);   
        margin-top: 40px;   
    }
}

@media (min-width: 320px) {
    .row--demandestechniques{           
        padding: 30px 0px 30px 0px;   
        h3{         
            font-size: 0.9em;         
        }
        p{        
            font-size: 0.8em;
        }
    }
}
@media (min-width: 375px){
 
     
}
@media (min-width: 425px) {
    
}


@media (min-width: 768px) {
    .row--demandestechniques{     
        padding: 30px 20px 30px 20px;     
    }
    h3{         
        font-size: 1.1em;         
    }
    p{        
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
   
}
@media (min-width: 1280px) {
   
}