.section--infosrandonne{
    padding-top: 150px;
    padding-bottom: 150px;
    .container--infosrandonne{
        background-color:  #f5f5f5;
        max-height: 44vh;
        overflow: scroll;
        overflow-x: hidden;
        border: solid 1px #c1baba;
        .posts--infosrandonne{
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            align-items: center;
            .content--infosrandonne{
                background-color: white;
                // display: flex;
                // padding-top: 25px;
                // padding-bottom: 25px;
                // margin-left: 30px;
                
                .text--infosrandonne{
                    font-size: 1.1em;
                    span{
                       font-weight: bold;
                    }
                    h5{
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
      
    }
}