
//j'ai mis une class "main--sectionLogin" dans le main du fichier html "Login.html", si vous utilisez les routes, utilisez cette classe 
//sur un container parent :)
.main--sectionLogin{
    width: 100%;  
    display: flex;
    @include flexbox();
    @include align-items(center);
    background-color: $bgContainerLogin;
    
  
}


#section--login{
    margin: auto;
    .container--login{     
        position: relative;
        overflow: hidden;
        margin: 6em auto 1em auto;
        height: 100%;
        background-color: $white;
     
       h3{
           font-size: 2rem;
           margin-top: 0;
       }
       span{
           font-size: 0.9em;
       }
       p{
           font-size: 0.9em;
       }
        @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05));
        .login--left{       
          position: relative;
        }
        .login--right{
            padding: 0;
            height: 100%;
        
        }
    }
    .container--contentLogin{
        h4{
            margin-bottom: 0;
        }
        ul{
            display: inline-block;
            padding: 0;
            margin-top: 0;
            li{
                font-size: 0.8em;
            }
        }
    }
}
@media (min-width:320px){
    .container--login{
        padding: 0;
        .login--left{
            padding: 2rem;
             position: relative;
           }
        .login--right{
            position: relative;
            right: 0;        
            max-height: 250px;
            }
    }
  
}

@media (min-width:1024px){
    .container--login{
        padding: 0;
        .login--left{
            padding: 3em;
            
           }
        .login--right{
            position: absolute;
            right: 0;
            max-height: auto;
            
            }
    }
  
}


