



.section--bienvenue{
    background-color: #50ae31;
    padding-top: 100px;
    padding-bottom: 100px;
    .container--bienvenue{    
    .mainMenu--bienvenue{
        #titre{
            color: white;
            font-family: FontNotoRegular, Arial, Helvetica, sans-serif;
            margin: 0;
            font-size: 1.5em;
        }
        ul{           
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            li{
                display: inline-block;

            }
            // li:last-child {
             
            //     position: absolute;
            //     right: 0;
            //   }
        }
    }
        .bienvenue--left{
            background-color: white;
          
            
            h1{
                margin-top: 30px;
                display: block;
                font-size: 0.8em;             
                color: #35495e;
                span{
                    font-size: 1em;
                    color: #35495e;
                }
            }
            h4{
                color: #35495e;
                font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
                // font-family: FontNotoBoldItalic, Arial, Helvetica, sans-serif;
                font-style: italic;
                font-weight: 400;
            }
            .bienvenue--picWelcome{           
                background-color: white;
                display: flex;
                align-items: center;
                .bienvenue--iconCrayon{
                    position: absolute;
                    top: 8px;
                    right: 12px;

                }
                h1{
                    span{
                        display: block;
                        font-size: 29px;
                      
                    }
                }
            }
            .bienvenue--BadgeKarma{
                background-color: #70d84e;
                // padding-bottom: 15px;
              
                .col-sm-6{
                    // height: 28vh;
                    padding-top: 10px;
                    padding-bottom: 37px;
                    box-sizing: border-box;
                }
                .plugin-jauge{
                    width: 216px;
                    margin: auto;
                    max-width: 180px;
                    display: inline-block;
                }
                .badges-img{
                    .badge-item{
                        width: 49px;
                        max-width: 50px;
                        display: inline-block;
                    }
                    img{
                        width: 100%;
                    }
                }
                h4{
                    margin-bottom: 14px;
                    font-size: 1.1em;
                    color: #35495e;
                    font-style: normal;
                    font-weight: bold;
                }
                
                // .jauge--karma{
                //     width: 69%;
                // }
                .bienvenue--iconOeil{
                    margin-top: 5px;
                    display: flex;
                    margin-bottom: 10px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin-right: 13px;
                    img{
                        margin-left: auto;
                        width: auto;
                        align-content: flex-end;
                        align-items: flex-end;
                    }
                }
            }
        }
        .bienvenue--right{
            color: white;
            overflow: hidden;
            .row--rappels{
              border-bottom:4px white dotted; 
              display: flex;
              align-items: center;
              padding-top: 10px;
              padding-bottom: 10px;
            }
            .row--messages{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 4px white dotted;
            }
            p{
                
                span{
                    display:block;
                }
               
                font-size: 0.9em;              
                overflow: hidden;
                margin-top: 0;                
            }
            p::after{
                content: '...';
            }
        }
    }
    
}